

@{
    ViewData["Title"] = "AddProduct";
}

@model Product
<h2>AddProduct</h2>

    <form method="post">
    <div>
        <label asp-for="Name">Product Name</label>
        <input type="text" asp-for="Name" />
    </div>
    <div>
        <label for="Price">Price</label>
        <input type="text" asp-for="Price" />
    </div>
    <div>
        <label asp-for="Category">Category</label>
        <select asp-for="Category">
            <option value="Electronics">Electronics</option>
            <option value="Clothing">Clothing</option>
            <option value="Books">Books</option>
        </select>
    </div>
    <input type="submit" class="btn btn-primary" value="submit"/>
    </form>


